<%= form_for(@admin_rails_method_description) do |f| %>
  <% if @admin_rails_method_description.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_rails_method_description.errors.count, "error") %> prohibited this admin_rails_method_description from being saved:</h2>

      <ul>
      <% @admin_rails_method_description.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="">
      <%= f.collection_select(:rails_name_method_id, Admin::RailsNameMethod.all, :id, :name_method, :prompt => 'Select Method')%>
    </div>
    <br>

    <div class="field">
        <%= f.number_field :num_view, class: "form-control", placeholder: "Num View" %>
    </div>
        <br>
    <div class="field">
        <%= f.text_field :lable_description, class: "form-control", placeholder: "Label Description" %>
    </div>
        <br>
    <div class="field">
        <%= f.text_area :full_method_description, class: "form-control", placeholder: "Method Description" %>
    </div>
        <br>
    <div class="field">
        <%= f.text_field :label_code, class: "form-control", placeholder: "Label Code" %>
    </div>
        <br>
    <div class="field">
        <%= f.text_area :method_code, class: "form-control", placeholder: "Example Code" %>
    </div>
        <br>
    <div class="field">
        <%= f.text_field :label_result, class: "form-control", placeholder: "Lable Result" %>
    </div>
        <br>
    <div class="">
        <%= f.text_area :result_code, class: "form-control", placeholder: "Result Code" %>
    </div>
        <br>
    <div class="actions">
        <%= f.submit 'Save', class: 'btn btn-default navbar-btn' %>
    </div>

<% end %>
