<div class="form-user">
<p id="notice"><%= notice %></p>

<p>
  <strong>Rails name method:</strong>
  <%= @admin_rails_method_description.rails_name_method_id %>
</p>

<p>
  <strong>Num view:</strong>
  <%= @admin_rails_method_description.num_view %>
</p>

<p>
  <strong>Lable description:</strong>
  <%= @admin_rails_method_description.lable_description %>
</p>

<p>
  <strong>Full method description:</strong>
  <%= @admin_rails_method_description.full_method_description %>
</p>

<p>
  <strong>Label code:</strong>
  <%= @admin_rails_method_description.label_code %>
</p>

<p>
  <strong>Method code:</strong>
  <%= @admin_rails_method_description.method_code %>
</p>

<p>
  <strong>Label result:</strong>
  <%= @admin_rails_method_description.label_result %>
</p>

<p>
  <strong>Result code:</strong>
  <%= @admin_rails_method_description.result_code %>
</p>

<%= link_to 'Edit', edit_admin_rails_method_description_path(@admin_rails_method_description) %> |
<%= link_to 'Back', admin_rails_method_descriptions_path %>
</div>