<div class="form-user">
<%= form_for(@syntax_elements_ruby) do |f| %>
  <% if @syntax_elements_ruby.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@syntax_elements_ruby.errors.count, "error") %> prohibited this syntax_elements_ruby from being saved:</h2>

      <ul>
      <% @syntax_elements_ruby.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.text_field :element, class: "form-control", placeholder: "" %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', class:'btn btn-default navbar-btn' %>
  </div>
<% end %>
</div>