<div class="form-user">
<p id="notice"><%= notice %></p>

<h1>Listing Syntax Elements Rubies</h1>

<table>
  <thead>
    <tr>
      <th>Element</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @syntax_elements_rubies.each do |syntax_elements_ruby| %>
      <tr>
        <td><%= syntax_elements_ruby.element %></td>
        <td><%= link_to 'Show', syntax_elements_ruby %></td>
        <td><%= link_to 'Edit', edit_syntax_elements_ruby_path(syntax_elements_ruby) %></td>
        <td><%= link_to 'Destroy', syntax_elements_ruby, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Syntax elements ruby', new_syntax_elements_ruby_path %>
</div>