<div class="form-index">
<p id="notice"><%= notice %></p>
    <div class="heading">
        <h3>Listing Admin Ruby Syntax Name Keywords</h3>
    </div>

  <%= link_to 'New Ruby syntax name keyword', new_admin_ruby_syntax_name_keyword_path %>

<table>
  <thead>
    <tr>
      <th>Admin ruby suntax name element</th>
      <th>Num view</th>
      <th>Name keyword</th>
      <th>Name keyword description</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @admin_ruby_syntax_name_keywords.each do |admin_ruby_syntax_name_keyword| %>
      <tr>
        <td><%= admin_ruby_syntax_name_keyword.admin_ruby_suntax_name_element_id %></td>
        <td><%= admin_ruby_syntax_name_keyword.num_view %></td>
        <td><%= admin_ruby_syntax_name_keyword.name_keyword %></td>
        <td><%= admin_ruby_syntax_name_keyword.name_keyword_description %></td>
        <td><%= link_to 'Show', admin_ruby_syntax_name_keyword %></td>
        <td><%= link_to 'Edit', edit_admin_ruby_syntax_name_keyword_path(admin_ruby_syntax_name_keyword) %></td>
        <td><%= link_to 'Destroy', admin_ruby_syntax_name_keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>