<div class="form-user">
<p id="notice"><%= notice %></p>

<p>
  <strong>Admin ruby suntax name element:</strong>
  <%= @admin_ruby_syntax_name_keyword.admin_ruby_suntax_name_element_id %>
</p>

<p>
  <strong>Num view:</strong>
  <%= @admin_ruby_syntax_name_keyword.num_view %>
</p>

<p>
  <strong>Name keyword:</strong>
  <%= @admin_ruby_syntax_name_keyword.name_keyword %>
</p>

<p>
  <strong>Name keyword description:</strong>
  <%= @admin_ruby_syntax_name_keyword.name_keyword_description %>
</p>

<%= link_to 'Edit', edit_admin_ruby_syntax_name_keyword_path(@admin_ruby_syntax_name_keyword) %> |
<%= link_to 'Back', admin_ruby_syntax_name_keywords_path %>
</div>