<%= form_for(@admin_ruby_name_method) do |f| %>
  <% if @admin_ruby_name_method.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_ruby_name_method.errors.count, "error") %> prohibited this admin_ruby_name_method from being saved:</h2>

      <ul>
      <% @admin_ruby_name_method.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="">
      <%= f.collection_select(:ruby_name_class_id, Admin::RubyNameClass.all, :id, :name_class, :prompt => 'Select elements')%>
    </div>
    <br>

    <div class="">
    <%= f.text_field :name_method, class: "form-control", placeholder: "Enter Name Method" %>
  </div>
    <br>
  <div class="">
    <%= f.text_area :short_method_description, class: "form-control", placeholder: "Enter short method description" %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-default navbar-btn' %>
  </div>
<% end %>
