<div class="form-index">
<p id="notice"><%= notice %></p>

    <div class="heading">
      <h4>Listing Admin Ruby Name Method Full Descriptions</h4>
      | <%= link_to ' Classes ', admin_ruby_name_classes_path %>
      | <%= link_to ' Methods ', admin_ruby_name_methods_path %>
      | <%= link_to ' New Ruby name method full description ', new_admin_ruby_name_method_full_description_path %> |
    </div>

  <table>
  <thead>
    <tr>
      <th>Ruby name method</th>
      <th>Num view</th>
      <th>Label description</th>
      <th>Full method description</th>
      <th>Label code</th>
      <th>Method code</th>
      <th>Label result</th>
      <th>Result code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_ruby_name_method_full_descriptions.each do |admin_ruby_name_method_full_description| %>
      <tr>
        <td><%= Admin::RubyNameMethod.find(admin_ruby_name_method_full_description.ruby_name_method_id).name_method%></td>
        <td><%= admin_ruby_name_method_full_description.num_view %></td>
        <td><%= admin_ruby_name_method_full_description.label_description %></td>
        <td><%= admin_ruby_name_method_full_description.full_method_description %></td>
        <td><%= admin_ruby_name_method_full_description.label_code %></td>
        <td><%= admin_ruby_name_method_full_description.method_code %></td>
        <td><%= admin_ruby_name_method_full_description.label_result %></td>
        <td><%= admin_ruby_name_method_full_description.result_code %></td>
        <td><%= link_to 'Show', admin_ruby_name_method_full_description %></td>
        <td><%= link_to 'Edit', edit_admin_ruby_name_method_full_description_path(admin_ruby_name_method_full_description) %></td>
        <td><%= link_to 'Destroy', admin_ruby_name_method_full_description, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
