<div class="form-user">
<p id="notice"><%= notice %></p>

<p>
  <strong>Ruby name method:</strong>
  <%= @admin_ruby_name_method_full_description.ruby_name_method_id %>
</p>

<p>
  <strong>Num view:</strong>
  <%= @admin_ruby_name_method_full_description.num_view %>
</p>

<p>
  <strong>Label description:</strong>
  <%= @admin_ruby_name_method_full_description.label_description %>
</p>

<p>
  <strong>Full method description:</strong>
  <%= @admin_ruby_name_method_full_description.full_method_description %>
</p>

<p>
  <strong>Label code:</strong>
  <%= @admin_ruby_name_method_full_description.label_code %>
</p>

<p>
  <strong>Method code:</strong>
  <%= @admin_ruby_name_method_full_description.method_code %>
</p>

<p>
  <strong>Label result:</strong>
  <%= @admin_ruby_name_method_full_description.label_result %>
</p>

<p>
  <strong>Result code:</strong>
  <%= @admin_ruby_name_method_full_description.result_code %>
</p>

<%= link_to 'Edit', edit_admin_ruby_name_method_full_description_path(@admin_ruby_name_method_full_description) %> |
<%= link_to 'Back', admin_ruby_name_method_full_descriptions_path %>
</div>