<div class="form-index">
  <p id="notice"><%= notice %></p>

  <div class="heading">
    <h2>Listing Classes Rubies</h2>
  </div>

  <%= link_to 'New Syntax elements ruby', new_type_inner_method_path %>
  <table>
    <thead>
    <tr>
      <th>Ruby Classes</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @type_inner_methods.each do |type_method| %>
        <tr>
          <td><%= type_method.name_type_method %></td>
          <td><%= link_to 'Show', type_method %></td>
          <td><%= link_to 'Edit', edit_type_inner_method_path(type_method) %></td>
          <td><%= link_to 'Destroy', type_method, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <br>
</div>

