    <div class="main-content">

      <div class="left-icons">
        <%= image_tag("ruby_logo.gif", :alt => "alabala") %>
      </div>

       <div class="nav-vertical">
          <%= render 'nav_vertical'%>
       </div>

       <div class="central-main-content">
       <% @index_ruby_syntaxes.each do |index_params|%>
        <h2> <%= index_params.index_title_ruby %></h2>
             <br>
         <h3><%= index_params.index_title_description_ruby %></h3>
            <br>
         <%= index_params.index_description %>
            <br>
             <br>
         <%= index_params.ruby_urls %>
       <% end%>


       </div>
    </div>
