<%= form_for(@admin_ruby_syntax_name_element) do |f| %>
  <% if @admin_ruby_syntax_name_element.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_ruby_syntax_name_element.errors.count, "error") %> prohibited this admin_ruby_syntax_name_element from being saved:</h2>

      <ul>
      <% @admin_ruby_syntax_name_element.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.number_field :num_view, class: "form-control", placeholeder: "Num View" %>
  </div>
  <br>
  <div class="input-group">
    <%= f.text_field :name_element, class: "form-control", placeholder: "Name element" %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-default navbar-btn' %>
  </div>
<% end %>
