<div class="form-index">
<p id="notice"><%= notice %></p>

  <div class="heading">
      <h4>Listing Admin Ruby Syntax Name Elements</h4>
    |<%= link_to ' Keywords ', admin_ruby_syntax_name_keywords_path %>
    |<%= link_to ' Keyword Description ', admin_ruby_name_method_full_descriptions_path %>
    |<%= link_to ' New Ruby syntax name element ', new_admin_ruby_syntax_name_element_path %>|
  </div>

<table>
  <thead>
    <tr>
      <th>Num view</th>
      <th>Name element</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @admin_ruby_syntax_name_elements.each do |admin_ruby_syntax_name_element| %>
      <tr>
        <td><%= admin_ruby_syntax_name_element.num_view %></td>
        <td><%= admin_ruby_syntax_name_element.name_element %></td>
        <td><%= link_to 'Show', admin_ruby_syntax_name_element %></td>
        <td><%= link_to 'Edit', edit_admin_ruby_syntax_name_element_path(admin_ruby_syntax_name_element) %></td>
        <td><%= link_to 'Destroy', admin_ruby_syntax_name_element, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>