<%= form_for(@description_keyword) do |f| %>
  <% if @description_keyword.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@description_keyword.errors.count, "error") %> prohibited this description_keyword from being saved:</h2>

      <ul>
      <% @description_keyword.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="">
    <%= f.collection_select(:syntax_keyword_rubies_id, SyntaxKeywordRuby.all, :id, :syntax_keyword, :prompt => 'Select elements')%>
  </div>
    <br>

    <div class="">
      <%= f.text_field :description_title, class: "form-control", placeholder: "Title description" %>
    </div>
    <br>

    <div class="">
    <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
  </div>
    <br>

    <div class="">
      <%= f.text_field :code_title, class: "form-control", placeholder: "Code description" %>
    </div>
    <br>

    <div class="">
      <%= f.text_area :code, class: "form-control", placeholder: "Code" %>
    </div>
      <br>
      <div class="actions">
        <%= f.submit 'Save', class: 'btn btn-default navbar-btn'  %>
      </div>
<% end %>
