<div class="form-index">
<p id="notice"><%= notice %></p>
    
  <div class="heading">
        <h2>Listing Description Keywords</h2>
  </div>

  <%= link_to 'New Description keyword', new_description_keyword_path %>

  <table>
  <thead>
    <tr>
      <th>Syntax keyword rubies</th>
      <th>Title Description</th>
      <th>Description</th>
      <th>Title Code</th>
      <th>Code</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @description_keywords.each do |description_keyword| %>
      <tr>
        <td><%= description_keyword.syntax_keyword_rubies_id %></td>
        <td><%= description_keyword.description_title %></td>
        <td><%= description_keyword.description %></td>
        <td><%= description_keyword.code_title %></td>
        <td><%= description_keyword.code %></td>
        <td><%= link_to 'Show', description_keyword %></td>
        <td><%= link_to 'Edit', edit_description_keyword_path(description_keyword) %></td>
        <td><%= link_to 'Destroy', description_keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


</div>