<div class="form-user">
<p id="notice"><%= notice %></p>

<p>
  <strong>Syntax keyword rubies:</strong>
  <%= @description_keyword.syntax_keyword_rubies_id %>
</p>

  <p>
    <strong>Title Description:</strong>
   <br>
    <%= @description_keyword.description_title %>
  </p>


<p>
  <strong>Code title:</strong>
  <br>
  <%= @description_keyword.code_title %>
</p>

  <p>
    <strong>Description:</strong>
    <br>
    <%= @description_keyword.description %>
  </p>

<p>
  <strong>Code:</strong>
  <%= @description_keyword.code %>
</p>

<%= link_to 'Edit', edit_description_keyword_path(@description_keyword) %> |
<%= link_to 'Back', description_keywords_path %>
</div>