<!DOCTYPE html>
<html>
<head>
  <title>Rubyhelper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="wrapper">
        <%= render 'shared/top' %>
        <header>
          <%= render 'shared/navbar' %>
        </header>

        <div class="container">
            <p class="notice"><%= notice%></p>
            <p class="alert"><%= alert%></p>
        </div>

      <main id="main">
            <%= yield %>
      </main>
    </div>
</body>
</html>
